# project
*Encoded.txt
*Decoded.*

# eclipse
.settings
.project
.cproject
Debug

# clion
.idea
cmake-build-debug

# ubuntu
.directory

/koda-lzss.sln
/.vs
/Debug
/koda-lzss
/x64
/dane/rozklady/output/*.txt
/dane/rozklady/output/*.pgm
/dane/obrazy/output/*.txt
/dane/obrazy/output/*.pgm